<p id="notice"><%= notice %></p>
<%#= cl_image_tag @picture.event.key, height: 300, width: 400, crop: :fill %>
<p>
  <strong>Event:</strong>
  <%= @picture.event_id %>
</p>

<%= link_to 'Edit', edit_picture_path(@picture) %> |
<%= link_to 'Back', pictures_path %>
